<li>
    <article>
        <h2>
            <%= restaurant.name %>
        </h2>
        <div>
            <p>
                <%= restaurant.address %>
            </p>
            <p>
                <%= restaurant.cuisine %>
            </p>
        </div>
        <p>
            <%= restaurant.message %>
        </p>
        <div>
            <a href="<%= restaurant.website_url %>" target="_blank" rel="noopener noreferrer">View
                website</a>
        </div>
    </article>
</li>